{% extends 'home/base.html' %}
{% load static %}
{% block title %} Send Mail {% endblock title %}
{% block content %}
    <div class="nav-tab-wrapper tabs  section-padding">
        <div class="container">
            <div class=" grid grid-cols-12 gap-[30px]">
                <div class="xl:col-span-5 lg:col-span-6 col-span-12 ">
                    <div class="mini-title">Send Mail Page</div>
                    <h4 class="column-title ">
                        Provide Your
                        <span class="shape-bg">
                            Email</span>
                    </h4>
                    <div>
                        Welcome back! This place is form sending reset link to your email.
                    </div>
                </div>
                <div class="xl:col-span-7 lg:col-span-6 col-span-12 lg:flex gap-4 justify-center items-center">
                    <div class="bg-white shadow-box7 p-8 rounded-md w-full px-10">
                        <form method="post">
                            {% csrf_token %}
                            <h4 class="text text-primary text-center">
                                Enter Your Email
                            </h4>
                            {% if messages %}
                                {% for message in messages %}
                                    {% if 'error' in message.tags %}
                                        <div class="alert text-red-500 font-bold alert-dismissible fade show text-center"
                                             role="alert">
                                            {{ message }}
                                        </div>
                                    {% elif 'success' in message.tags %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            {% endif %}
                            <div class=" grid grid-cols-1 gap-[30px] mt-6 ">
                                <div>
                                    <label class="form-label mb-4" for="email">Email</label>
                                    {{ form.email }}
                                </div>
                            </div>
                            <button class="btn btn-primary mt-[30px] mx-auto flex" type="submit">
                                Send a Link
                            </button>
                            <div class="text-center mt-4">
                                <p class="mb-0">
                                    <em class="text-primary">Remember My Password? </em>
                                    <a href="{% url 'login' %}" class="mini-title fw-bold">Sign In</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}


