{% extends "./base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="main_content_iner overly_inner ">
        <div class="container-fluid p-0 ">

            <div class="row">
                <div class="col-12">
                    <div class="page_title_box d-flex align-items-center justify-content-between">
                        <div class="page_title_left">
                            <h3 class="f_s_40 f_w_500 text_white">Kohereza Ubutumwa</h3>
                            <ol class="breadcrumb page_bradcam mb-0">
                                <li class="breadcrumb-item"><a href="">Dashboad</a></li>
                                <li class="breadcrumb-item">Vugisha Umuyobozi</li>
                                <li class="breadcrumb-item">Ubutumwa</li>
                                <li class="breadcrumb-item active">Kohereza Ubutumwa</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-8 m-auto">
                    <div class="white_card position-relative mb_20 pt-3 pb-2">
                        <div class="card-body">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form | crispy}}
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-outline-primary">Ohereza</button>
                                </div>
                           </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}