{% extends "landing_page/base.html" %}
{% load static %}
{% block title %}SIGN IN{% endblock title %}
{% block main %}
    {% include 'landing_page/includes/messages.html' %}
    <section class="">
        <div class="container-fluid h-custom bg-light py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">

                <div class="col-md-9 col-lg-6 col-xl-5 flex flex-col items-center">
                    <a href="{% url 'user_login' %}" class="w-72">
                        <img alt="#" src="{% static 'images/logo/ssc_logo_blue.png' %}" class="w-full">
                    </a>
                    <img src="{% static 'images/logo/Street_logo.png' %}"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto">
                    <div class="card card-plain">
                        <div class="card-header">
                            <h4 class="font-weight-bolder">Reset Password</h4>
                            <p class="mb-0">
                                {% if msg %}
                                    <span class="text-danger">{{ msg | safe }}</span>
                                {% else %}
                                    Enter your email here, we will send you a reset password link.
                                {% endif %}
                            </p>
                        </div>

                        <div class="card-body">
                            <form role="form" method="post" action="">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="input-group input-group-outline mb-3">
                                        {{ field }}
                                    </div>
                                    <span class="text-danger">{{ field.errors }}</span>
                                {% endfor %}
                                <div class="text-center">
                                    <button type="submit" name="register"
                                            class="btn btn-lg bg-dark btn-lg w-50 text-light mt-4 mb-0">Send
                                    </button>
                                </div>
                            </form>
                        </div>
                        <a href="{% url 'user_login' %}" class="m-4 btn btn-outline-dark"><i class="bi bi-shift-fill font-weight-bold mr-1 "></i> Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}